name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    container: php:8.1-alpine

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install Composer
      run: |
        # Install git, which is required by Composer
        apk add --no-cache git
        # Download and install Composer
        php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
        php composer-setup.php
        php -r "unlink('composer-setup.php');"
        mv composer.phar /usr/local/bin/composer

    - name: Install Dependencies
      run: composer install --prefer-dist --no-progress

    - name: Run Tests
      run: composer test